{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Thermos is a simple demo for a bookmarking site.</p>
        </header>
        <section>
            <h2>article section h2</h2>
            <p>Lorem ipsum dolor dsljkflasjkdf;ljk</p>
        </section>
        <section>
            <h2>article sectio h2</h2>
            <p>Let's go fly a kite.</p>
        </section>
    </article>
{% endblock %}